body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}

/* hero section */
.hero{
    height: 70vh;
    position: relative;
}
video{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.hero > div{
    background: rgba(98, 98, 149, 0.192);
    color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
    text-align: center ;
    width: 450px;
    backdrop-filter: blur(10px);
    

    position: absolute;
    top: 25vh;
    left: 10vh;
    
}

/* nav bar menu  */
.menu{
    background: black;
    position: sticky;
    top: 0;
}
.menu > div{
    color: white;
    padding: 8px 0;

    display: flex;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    list-style-type: none;
}

/* .menu ul li{
    transition: transform 1s;
} */
.menu ul li:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.5s;
}

/* paragraph section  */
[class^="img"]{
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .img1, .img2, .img3, .img4{
    height: 60vh;
} */
.img1{
    background: url(./img/lake.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.img2{
    background: url(./img/lake1.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img3{
    background: url(./img/lake2.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.img4{
    background: url(./img/river.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    background: rgba(0, 0, 0, 0.387);
    color: white;
    font-size: 3rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
 /* footer  */

 footer{
    background: black;
    padding: 1.5rem;
    text-align: center;
    color: white;
 }